body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.text-box {
  padding-top: 50px;
  padding-bottom: 100px;
}

.title {
  color: #effd56;
  font-size: 2.5em;
  position: absolute;
  top: 32px;
  left: 20px;
  margin: 0;
}

.headline {
  font-size: 5em;
  text-align: center;
}

.sub-title {
  font-size: 1.8em;
  height: auto;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-container {
  height: auto;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5em;
}

.top-page {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #effd56;
  top: 0;
  left: -10px;
  padding: 60px;
  z-index: -1;
  transform: rotate(-1deg);
}

h1,
h2,
h3,
p,
.numbertext,
.caption {
  text-transform: uppercase;
  line-height: 1.5em;
}

p {
  color: #000000;
}

.strip {
  position: absolute;
  height: 75%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #51a866;
  padding: 10px;
  transform: rotate(1deg);
}

/* ================================================================================================ */
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #effd56;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/* ================================================================================================ */

/*SOUNDCLOUD CONTAINER*/
.music-lets-you-lose-control{
  padding: 4px 0;
  border-radius: 1%;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: #51a866;
}

.music-lets-you-lose-control iframe{
  width: 100%;
  height: 100px;
  overflow: hidden;
  border: 0;
}

.music-row{
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.music-column{
  flex: 50%;
  -ms-flex: 50%;
  max-width: 49%;
  padding: 0 4px;
}

.social-buttons 
{
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 3em;
}

.social-icon
{
  padding: 1%;
  height: 60px;
  width: 60px;
  display: inline-block;
  border-radius: 30px;
  margin: 0 5%;
  text-align: center;
}

.soundcloud-colour 
{
  background-color: #000;
  color: #ff7700;
  transition: ease-in-out 0.6s;
}

.soundcloud-colour:hover 
{
  background-color: #ff7700;
  color: #ffffff;
  width: 240px;
}

/* ================================================================================================ */

/* 3D ANIMATION/GAME DESIGN IMAGE SLIDER */
.image-slides {
  height: 500px;
  display: none; 
  margin-top: 50px;
  text-align: center;
}

.image-position {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid #949494;
  vertical-align: middle;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  /* margin-top: -22px; */
  color: #ffffff;
  background-color: #7c7c7c;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 20px;
  user-select: none;
}

.next {right: -60px;}

.prev{left: -60px;}

.prev:hover, .next:hover {
  background-color: #000;
}

.caption {
  color: #f2f2f2;
  background: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  background: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* ================================================================================================ */

/* GAME DESIGN IMAGE SLIDER II */
.image-slides2 {
  height: 500px;
  display: none; 
  margin-top: 50px;
  text-align: center;
}

.image-position2 {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid #949494;
  vertical-align: middle;
}

.slideshow-container2 {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #ffffff;
  background-color: #7c7c7c;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 20px;
  user-select: none;
}

.next2 {right: -60px;}

.prev2{left: -60px;}

.prev2:hover, .next2:hover {
  background-color: #000;
}

.numbertext2 {
  color: #f2f2f2;
  background: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2, .dot2:hover {
  background-color: #717171;
}

.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade2;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade2 {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade2 {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 650px) {
  .prev, .next,.caption {display: none;}
  .prev2, .next2 {display: none;}
  .close 
  {
    right: 10px;
    top: 40px;
  }
  .headline {
    font-size: 12vw;
  }
  .title {
    font-size: 9vw;
  }
}

@media only screen and (max-width: 1332px) {
  .music-column{
    flex: 100%;
    -ms-flex: 100%;
    max-width: 100%;
    padding: 0 4px;
  }
}