body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
}
  
/* CONTAINER */
.desktop-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.desktop-container .right-img{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-10%, -50%);
}

.desktop-container .left-img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.desktop-container .left-svg{
  position: absolute;
  top: calc(50% - 300px);
  transform: translateY(-50%);
  z-index: 100;
}

.desktop-container .rectOb{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.desktop-container .about-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} 

.mobpage {
  display: none;
}

.mainpage {
  height: 100%;
  width: 100%;
  display: block;
}

/* FONT */
a,
h1,
h2,
h3,
button {
  text-transform: uppercase;
  line-height: 1.5em;
}

p{line-height: 1.5em;}

.title {
  font-size: 80px;
  text-align: center;
  margin-bottom: -60px;
}

.sub-title {
  font-size: 50px;
  text-align: center;
}

.paragraph {
  color: #000000;
  width: 80%;
  line-height: 1.75rem;
  font-size: 1.2vw;
  margin-right: auto;
  margin-left: auto;
}

.bold{
  color: #000000;
  font-weight: 600;
}

/* ================================================================================================ */

.right-img {
  max-height: 850px;
  max-width: 482px;
}

.left-img {
  max-height: 605px;
  max-width: 605px;
}

.left-svg{
  max-height: 605px;
  max-width: 605px;
}

.st4{fill:none;}

.svg-text{font-size: 70px;}
.svg-text:hover{fill: #885ca1;}

.colour-svg {color: #885ca1;}

.left-image{display: block;}
.left-image1{display: none;}
.left-image2{display: none;}

.rw{z-index: -1;}

.warp{
  -webkit-animation:spin 45s linear infinite;
  -moz-animation:spin 45s linear infinite;
  animation:spin 45s linear infinite;
}

@-ms-keyframes spin { 
  from { 
      -ms-transform: rotate(0deg); 
  } to { 
      -ms-transform: rotate(360deg); 
  }
}
@-moz-keyframes spin { 
  from { 
      -moz-transform: rotate(0deg); 
  } to { 
      -moz-transform: rotate(360deg); 
  }
}
@-webkit-keyframes spin { 
  from { 
      -webkit-transform: rotate(0deg); 
  } to { 
      -webkit-transform: rotate(360deg); 
  }
}
@keyframes spin { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(360deg); 
  }
}

.rectOb{
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -99;
}

.rect-background{
  top: 0;
  fill: #85a8b6;
}

.about-btn {
  width: 100%;
  z-index: 99;
}

.btn {
  background: #fff;
  color: #885ca1;
  width: 150px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #885ca1;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: .5s;
}

.btn::before, .btn::after {
  position: absolute;
  background: #ffffff;
  z-index: -1;
  transition: .5s;
  content: '';
}

.btn::before {
  height: 50px;
  width: 130px;
}

.btn::after {
  width: 150px;
  height: 30px;
}

.btn:hover::before {
  width: 0px;
  background: #b9d9ba;
}

.btn:hover::after {
  height: 0px;
  background: #b9d9ba;
}

.btn:hover {
  color: #85a8b6;
  background: #885ca1;
}

/* ================================================================================================ */
/* CLOSE BUTTON */
#close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;
}
#close:hover {
  opacity: 1;
}
#close:before, #close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #885ca1;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}

.closeAnimation {
  animation: animateClose 0.6s forwards;
}

/* ================================================================================================ */
/* MODAL BOX */
.modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  z-index: 101;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  height: 100%;
  padding: 50px 0;
  border: 1px solid #888;
}

.openAnimation {
  animation: animateOpen 0.6s forwards;
}

@keyframes animateOpen {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes animateClose {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

/* ================================================================================================ */

/* SOCIAL ICONS */
.social-buttons 
{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}

.social-icon
{
  display: inline-block;
  border-radius: 10%;
  padding: 15px;
  margin: 20px;
}

.fb-colour 
{
  background-color: #3b5998;
  color: #fefefe;
}

.fb-colour:hover 
{
  background-color: #000000;
  color: #3b5998;
}

.instagram-colour 
{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: #ffffff;
}

.instagram-colour:hover 
{
  background: #000000;
  color: #ffea8a;
}

.linkedIn-colour 
{
  background-color: #0e76a8;
  color: #ffffff;
}

.linkedIn-colour:hover 
{
  background-color: #000000;
  color: #0e76a8;
}

.twitter-colour 
{
  background-color: #00acee;
  color: #ffffff;
}

.twitter-colour:hover 
{
  background-color: #000000;
  color: #00acee;
}

/* ================================================================================================ */
  
@media screen and (max-width: 1462px) {
  .left-image{display: none;}
  .left-image1{display: block;}
  .left-image2{display: none;}
  
  .right-img {
    max-height: 533px;
    max-width: 355px;
  }
  
  .left-img {
    max-height: 403px;
    max-width: 403px;
  }

  .left-svg{
    max-height: 403px;
    max-width: 403px;
  }

  .desktop-container .left-svg{
    top: calc(50% - 200px);
  }
  
  .one{
    max-height: 605px;
    max-width: 605px;
    font-size: 40px;
  }
}

@media screen and (max-width: 1040px) {
  .left-image{display: none;}
  .left-image1{display: none;}
  .left-image2{display: block;}

  .right-img {
    max-height: 450px;
    max-width: 266px;
  }
  
  .left-img {
    max-height: 303px;
    max-width: 303px;
  }  

  .left-svg {
    max-height: 303px;
    max-width: 303px;
  }

  .desktop-container .left-svg{
    top: calc(50% - 150px);
  }
}

/* MOBILE VERSION */
@media screen and (max-width: 768px) {
  body{
    overflow-y: visible;
  }

  .mobpage {
    margin: 0;
    padding: 0;
    display: block;
  }

  .mainpage {
    display: none;
  }

  .centre-mobile-img {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 50%;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    z-index: 3;
    border-radius: 100%;
  }

  /* FONT */
  .title-mob {
    width: 100%;
    font-size: 50px;
    text-align: center;
  }

  .sub-title-mob {
    width: 80%;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph-mob {
    width: 80%;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  /*SOCIAL ICONS*/
  .social-buttons 
  {
    font-size: 10px;
    width: 80%;
  }

  .social-icon 
  {
    display: inline-block;
    border-radius: 25%;
    padding: 10px;
    margin: 10px;
  }

  /*COOKIE BANNER*/
  #cookieBanner
  {
    background-color: rgba(20,20,20,0.9);
    min-height: 15%;
    color: #ffffff;
    line-height: 1.5em;
    padding: 8px 30px 8px 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
  }

  #cookieBanner a.cookieBannerOK
  {
    background-color: #885ca1;
    color: #fff;
    display: inline-block;
    border-radius: 15%;
    padding: 5px 25px;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .title-mob {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }

  .sub-title-mob {
    width: 80%;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
  }

  .paragraph-mob {
    width: 80%;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}